@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span, p{
    color: var(--secondary-color);
    text-align: center;
    line-height: 1.25;
}

:root {
    --primary-color: white;
    --secondary-color: #242424;
    --third-color: #2e2e2e;
    --fourth-color: #f4f4f4;
}

.dark-theme {
    --primary-color: #242424;
    --secondary-color: white;
    --third-color: #f4f4f4;
    --fourth-color: #2e2e2e;
}

body {
    background-color: var(--primary-color);
}

h1 {
    font-size: 34px;
}

#icon {
    width: 35px;
    cursor: pointer;
}

p {
    line-height: 1.5;
}

nav {
    height: 100px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
}

li {
    list-style-type: none;
}

.navigation-anchor {
    margin: 0 12px;
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 700;
}

.navigation-contact {
    background-color: blue;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 700;
    color: white;
    padding: 8px 15px;
    transition: all 300ms ease;
}

.navigation-contact:hover{
    background-color: #3333FF;
}

.personal-logo {
    font-size: 42px;
    color: var(--secondary-color);
    margin: 0 12px;
}

.coloured-text {
    color: blue;
    font-weight: bolder;
}

.about-me-title {
    font-weight: bolder;
    margin-bottom: 20px;
}

.about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.flex-1 {
    flex:1;
}

.flex {
    display: flex;
    justify-content: center;
}

.about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.about-me-paragraph {
    text-align: center;
    font-size: 21px;
    margin-bottom: 28px;
    max-width: 700px;
}

.row {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.about-me-picture {
    width: 210px;
    height: 210px;
    margin-bottom: 25px;
}

.actual-picture {
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

.about-me-link {
    font-size: 30px;
    color: blue;
    text-decoration: none;
    padding: 16px;
}

.about-me-link:hover {
    color: #3333FF
}

.about-me-links {
    margin-bottom: 28px;
    display: flex;
    justify-content: center;
}

.about-me-info {
    display: flex;
    flex-direction: column;
}

.random-image {
    flex:1;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.random-figure {
    width: 90%;
    margin: 0 auto;
    border: 8px solid var(--secondary-color) ;
}

.flex2 {
    margin-right: 12px;
}

.flex3 {
    margin-left: 12px;
}

.flex2-flex3 {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .flex2-flex3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.language-container {
    padding: 25px 0;
    padding-bottom: 45px;
}

section:nth-child(even) {
    background-color: var(--fourth-color);
}

.tech-stack {
    font-weight: bolder;
    margin-bottom: 30px;
}

.html, .css, .python, .javascript, .c{
    width: 100%;
    max-width: 190px;
}

.language-images {
    transition: all 300ms ease;
}

.languages-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.language-images:hover {
    filter: brightness(80%);
    opacity: 0.80;
    transform: scale(0.9);
}

.language {
    width: 20%;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 5px;
}

.project-container {
    padding: 25px 0;
    padding-bottom: 25px;
}

.project-image {
    width: 100%;
    transition: all 300ms ease;
}

.project-wrapper {
    display: flex;
    box-shadow: 0 20px 80px rgba(0,0,0,0.45);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.project-wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--secondary-color);
    opacity: 0;
    transition: opacity 300ms ease;
    z-index: 2;
}

.project:hover .project-wrapper:before {
    opacity: 0.6;
}

.project:hover .project-image {
    filter: blur(5px);
}

.project-description {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(-50%);
    max-width: 550px;
    z-index: 3;
    opacity: 0;
}

.project {
    margin-bottom: 70px;
}

.project:hover .project-description{
    opacity: 1;
}

.project-title, .project-materials, .project-paragraph, .project-link{
    text-align: left;
    color: var(--primary-color);

}

.project-title {
    font-size: 30px;
}

.project-materials {
    font-size: 22px;
}

.project-paragraph {
    font-size: 16px;
}

.project-link {
    font-size: 30px;
}

.my-projects {
    font-weight: bolder;
    margin-bottom: 50px;
}

footer {
    background-color: var(--fourth-color);
    padding: 25px 0;
    padding-bottom: 25px;
}

.bottom-logo {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 42px;
    text-align: center;
}

.top-of {
    text-decoration: none;
    color: white;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.copyright {
    color: var(--secondary-color);
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    position: relative;
}

.navigation-anchor:after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: var(--secondary-color);
    width: 0;
    bottom: -3px;
    right:0;
    transition: all 300ms ease;
}

.navigation-anchor:hover:after {
    width: 100%;
    left: 0;
}
